.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--avatar-background);
    fill: var(--avatar-icon);
    display: flex;
    justify-content: center;
    align-items: center;

    icon {
        width: 22px;
        height: 22px;
    }
}