<div #dataGridBase cdkOverlayOrigin class="data-grid-base">

    <!-- Header -->
    <div #header class="data-grid-header">
        <div class="data-grid-columns-container">

            <!-- Header Columns -->
            @for (column of columnDefs(); track column) {
            <div [style.width.px]="column.width" class="data-grid-column" (click)="sortColumn($index)">
                <div class="resizer" (mousedown)="onColumnResizerMouseDown($index)"></div>
                <div class="data-grid-cell">
                    <div class="data-grid-cell-value">
                        {{column.field | titlecase}}
                    </div>

                    @if(currentSortedColumnIndex === $index) {
                    <icon class="sort-arrow" name="sort-arrow" [style.transform]="'rotate(' + (isAsc ? 0 : 180) +'deg'">
                    </icon>
                    }

                </div>
            </div>
            }
        </div>
    </div>


    <!-- Rows Container -->
    <div class="data-grid-row-container" (scroll)="onRowScroll($event)">

        <!-- Rows -->
        @for (row of rows(); track row.dataGridUniqueRowId) {
        <div class="data-grid-row" (click)="onRowClick(row)" [ngClass]="{'selected-row': row === selectdRow}">
            <div class="data-grid-columns-container">

                <!-- Row Columns -->
                @for (column of columnDefs(); track column) {
                <div [style.width.px]="column.width" class="data-grid-column">
                    <div class="data-grid-cell cell-style" [style]="getCellStyle(column, row)">
                        <div class="data-grid-cell-value">

                            @if (getComponentData(column, row); as componentData) {
                            <ng-template [createComponent]="componentData"></ng-template>
                            } @else {
                            {{ row[column.field] }}
                            }

                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
        }

    </div>
</div>


<!-- Paging Panel -->
<div class="paging-panel">
    <div class="page-size-container">
        <div class="page-size-label paging-label">Rows per Page:</div>


        <form-field>
            <dropdown [(ngModel)]="rowsPerPage">
                @for (pageSize of pageSizes; track pageSize) {
                <dropdown-item [value]="pageSize">{{pageSize}}</dropdown-item>
                }
            </dropdown>
        </form-field>
    </div>

    <div class="page-count paging-label">
        page {{currentPage() + 1}} of {{totalPages()}}
    </div>

    <div style="display: flex; align-items: center;">


        <div class="paging-label">
            Showing records {{startRow + 1}}-{{endRow}} of {{rowData().length}}
        </div>



        @if(totalPages() > 1) {
        <div class="button-group">
            <button [disabled]="currentPage() === 0" (click)="setFirstPage()">
                First
            </button>

            <button [disabled]="currentPage() === 0" (click)="setPreviousPage()">
                Previous
            </button>

            <button [disabled]="currentPage() >= totalPages() - 1" (click)="setNextPage()">
                Next
            </button>

            <button [disabled]="currentPage() >= totalPages() - 1" (click)="setLastPage()">
                Last
            </button>
        </div>
        }
    </div>
</div>


<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="dataGridBase" [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="borderResizerActive()" cdkConnectedOverlayBackdropClass="data-grid-resizer-overlay">
</ng-template>