<div #dataGridBase cdkOverlayOrigin class="data-grid-base">

    <!-- Header -->
    <div #header class="data-grid-header">
        <div class="data-grid-columns-container">

            <!-- Header Columns -->
            @for (column of columnDefs(); track $index) {
            <div [style.width.px]="column.width" class="data-grid-column" (click)="sortColumn($index)">
                <!-- <div class="resizer" (mousedown)="onMouseDown($index)"></div> -->
                <div class="data-grid-cell">
                    <div class="data-grid-cell-value">
                        {{column.field | titlecase}}
                    </div>

                    @if(currentSortIndex === $index) {
                    <icon class="sort-arrow" name="sort-arrow" [width]="9" [height]="13"
                        [style.transform]="'rotate(' + (isAsc ? 0 : 180) +'deg'"></icon>
                    }

                </div>
            </div>
            }
        </div>
    </div>


    <!-- Rows Container -->
    <div class="data-grid-row-container" (scroll)="onRowScroll($event)">

        <!-- Rows -->
        @for (row of rowData(); track $index) {
        <div class="data-grid-row">
            <div class="data-grid-columns-container">

                <!-- Row Columns -->
                @for (column of columnDefs(); track $index) {
                <div [style.width.px]="column.width" class="data-grid-column">
                    <div class="data-grid-cell cell-style" [style]="getCellStyle(column, row)">
                        <div class="data-grid-cell-value">

                            @if (getComponent(column, row, column.cellRendererParams); as component) {
                                <ng-template [createComponent]="component"></ng-template>
                            } @else {
                                {{ row[column.field] }}
                            }

                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
        }

    </div>
</div>


<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="dataGridBase" [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOpen]="borderResizerActive()" cdkConnectedOverlayBackdropClass="data-grid-resizer-overlay">
</ng-template>