<div class="expandable-filter-base">
    <div class="expandable-filter" (click)="toggle()" [ngClass]="{'filter-expanded': expanded, 'has-value': value}">
        <div style="display: flex; height: 100%; align-items: center;">{{title()}}</div>

        @if(value) {
        <div class="value-container">
            {{value}}
        </div>
        }

        <icon class="add-icon" [name]="expanded ? 'close' : 'add'"></icon>

    </div>
    <div #panelContent class="expandable-filter-content" [class]="expanded ? 'content-expanded' : null">
        <ng-content></ng-content>
    </div>
</div>