.expandable-filter-base {
    margin-bottom: 15px;
}

.expandable-filter {
    width: 100%;
    padding: 0 10px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--filter-border);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    fill: var(--filter-label);
}

.expandable-filter-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out, padding 0.25s ease-out;
    background: var(--filter-content-background);
    border: 1px solid;
    border-color: var(--filter-border) !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-bottom: none;
    padding: 0 10px;
}

.add-icon {

    width: 10px;
    height: 10px;
}

.content-expanded {
    padding: 10px;
    border-bottom: 1px solid;
}

.filter-expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: var(--filter-expanded-border);
    font-weight: 600;
    color: var(--filter-selected-text);
}


.value-container {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    border-left: 1px dashed;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    border-color: inherit;
    color: #5A5438;
}

.has-value {
    border-color: var(--filter-selected-border);
    background: var(--filter-selected-background);
    color: var(--filter-selected-text);
    fill: var(--filter-selected-text);
}

.title {
    display: flex;
    height: 100%;
    align-items: center;
}