.expandable-filter-base {
    margin-bottom: 15px;
}

.expandable-filter {
    width: 100%;
    padding: 0 10px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D5E0E8;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    fill: #61798D;
}

.expandable-filter-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out, padding 0.25s ease-out;
    background: #61798D14;
    border: 1px solid;
    border-color: #D5E0E8 !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    border-bottom: none;
    padding: 0 10px;
}

.add-icon {
    
    width: 10px;
    height: 10px;
}

.content-expanded {
    padding: 10px;
    border-bottom: 1px solid;
}

.filter-expanded {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: #94C3E87A;
    font-weight: 600;
    color: #000000;
}


.value-container {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    border-left: 1px dashed;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    border-color: inherit;
    color: #5A5438;
}

.has-value {
    border-color: #E0D193;
    background: #FFF8E4;
    color: #000000;
    fill: #000000;
}