$hover-amount: 3;
$active-amount: 6;


@mixin lighten($color, $amount) {
    background-color: hsl(from var(#{$color}) h s calc(l + #{$amount}));
    color: hsl(from var(--button-label) h s calc(l + #{$amount}));
    fill: hsl(from var(--button-label) h s calc(l + #{$amount}));
}

.button {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    cursor: pointer;
    color: var(--button-label);
    align-items: center;
    width: 100%;

    icon {
        fill: var(--button-label);

        &:is(:first-child) {
            margin-right: 10px;
        }

        &:is(:last-child) {
            margin-left: 10px;
        }
    }

    &:focus-visible {
        outline: 1px solid var(--button-focus);
    }

    &:disabled {
        background-color: var(--button-disabled);
        color: var(--button-label-disabled);
        cursor: default;
    }
}

.button-rectangle {
    @extend .button;
    border-radius: 5px;
}

.button-round {
    @extend .button;
    border-radius: 50%;
}




.button-submit {
    @extend .button-rectangle;
    background-color: var(--button-submit);
    padding: 15px;
    font-size: 16px;

    &:hover:not(:disabled) {
        @include lighten(--button-submit, $hover-amount);
    }

    &:active:not(:disabled) {
        @include lighten(--button-submit, $active-amount);
    }

    
}



.button-apply {
    @extend .button-rectangle;
    background-color: var(--button-apply);
    padding: 8px 15px;

    &:hover:not(:disabled) {
        @include lighten(--button-apply, $hover-amount);
    }

    &:active:not(:disabled) {
        @include lighten(--button-apply, $active-amount);
    }
}


.button-action {
    @extend .button-rectangle;
    background-color: var(--button-action);
    padding: 5px 10px;

    &:hover:not(:disabled) {
        @include lighten(--button-action, $hover-amount);
    }

    &:active:not(:disabled) {
        @include lighten(--button-action, $active-amount);
    }
}



.button-clear {
    @extend .button-rectangle;
    background-color: var(--button-clear);
    padding: 5px 10px;

    &:hover:not(:disabled) {
        @include lighten(--button-clear, $hover-amount);
    }

    &:active:not(:disabled) {
        @include lighten(--button-clear, $active-amount);
    }
}


.button-deposit {
    @extend .button-rectangle;
    background-color: var(--button-deposit);
    padding: 5px 10px;

    &:hover:not(:disabled) {
        @include lighten(--button-deposit, $hover-amount);
    }

    &:active:not(:disabled) {
        @include lighten(--button-deposit, $active-amount);
    }
}


.button-text {
    @extend .button-rectangle;
    background-color: transparent;
    font-size: 16px;
    color: var(--button-text);
    text-decoration: underline;
    padding: 8px 15px;

    &:hover:not(:disabled) {
        background-color: var(--button-text-background-hover);
    }

    &:active:not(:disabled) {
        background-color: var(--button-text-background-active);
    }

    &:focus-visible {
        outline: none;

        &:not(:active) {
            background-color: var(--button-text-background-focus);
        }
        
    }

    &:disabled {
        background-color: transparent;
        color: var(--button-label-disabled);
        cursor: default;
    }
}


.button-icon {
    background: transparent;
    padding: 4px;
    border: 0;
    cursor: pointer;
    fill: #666666;
    border-radius: 50%;

    &:hover {
        background: rgb(0, 0, 0, 0.05);
        
    }

    &:active {
        background: rgb(0, 0, 0, 0.1);
    }
}