.calendar-grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.calendar-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 50%;

    &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
    }

    &:hover:not(.selected-calendar-grid-item)::before {
        background-color: var(--calendar-grid-item-hover-background);
    }


    &:active:not(.selected-calendar-grid-item)::before {
        background-color: var(--calendar-grid-item-active-background);
    }
}

.selected-calendar-grid-item {
    color: var(--calendar-text);

    &::before {
        background-color: var(--calendar-selected-item);
    }
}

.current-calendar-grid-item:not(.selected-calendar-grid-item) {
    &::before {
        border: 1px solid var(--calendar-selected-item);
    }
}

.calendar-grid-item-text {
    z-index: 1;
}


.disabled-calendar-grid-item:not(.selected-calendar-grid-item) {
    color: var(--calendar-grid-item-disabled);
}