.radio-button,
.checkbox {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    user-select: none;

    &:hover {
        input:not(:checked):not(:disabled):not(:focus) {

            &~.checkmark {
                border-color: var(--selection-control-hover);
            }

            &~.selection-control-background::before {
                background-color: var(--selection-control-hover-background);
            }
        }
    }

    &:active {
        input:not(:disabled) {
            &~.selection-control-background::before {
                background-color: var(--selection-control-selected-active);
            }

            &:not(:checked):not(:focus) {
                &~.selection-control-background::before {
                    background-color: var(--selection-control-unselected-active);
                }
            }
        }
    }


    input {
        appearance: none;
        margin: 0;
        padding: 0;

        &:disabled~.checkmark {
            border-color: var(--selection-control-disabled);

            &::after {
                background-color: transparent;
            }
        }


        &:not(:disabled) {
            &:checked:focus~.checkmark {
                &::before {
                    background-color: var(--selection-control-selected-focus);
                }
            }

            &:not(:checked):focus~.checkmark {
                border-color: var(--selection-control-border-focus);

                &::before {
                    background-color: var(--selection-control-unselected-focus);
                }
            }
        }
    }

    &:not([disabled=true]) {
        .selection-control-text {
            color: var(--selection-control-text);
        }
    }

    &[disabled=true] {
        cursor: default;
        color: var(--selection-control-disabled);
    }
}



.checkmark {
    border: 2px solid;
    border-color: var(--selection-control-border);
    transition: border-color 120ms;
    position: relative;
    margin-right: 10px;

    &:after {
        content: "";
        position: absolute;
    }
}



.selection-control-background::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    pointer-events: none;
}