@use '../themes/palettes' as palettes;
@use '../themes/themes' as themes;


$light-theme: (
    theme-name: light-theme,
    palette: palettes.$light-palette
);

@include themes.define-theme($light-theme);