.button-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-color: #D5E0E8;
    border-width: 1px;
    outline: none;
    color: #666666;
    background: none;
    border-style: solid;
}

// .button-toggle-selected {
//     background-color: #FFFAEE;
//     color: black;
// }