<header>

    <!-- Branding -->
    <div class="branding">
        <icon class="smi-logo" name="smi-logo"></icon>
        <div class="site-name">
            <div class="smi-pay">SMI Pay</div>
            <div class="reporting-admin">Reporting and Admin Portal</div>
        </div>
    </div>

    <!-- Header Nav -->
    <div class="header-nav">
        <div class="notifications">
            <icon class="bell-icon" name="bell"></icon>
            <div class="notification-indicator"></div>
        </div>

        <!-- Avatar -->
         <avatar></avatar>
    </div>
</header>