header {
    position: fixed;
    height: 78px;
    width: 100%;
    background: linear-gradient(90deg, var(--header-background2) 0%, var(--header-background1) 100%);
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    z-index: 1000;
}

.branding {
    display: flex;
    fill: var(--header-smi-logo);
}

.smi-logo {
    width: 108px;
    height: 48px;
}

.site-name {
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    padding-top: 3px;
    padding-bottom: 1px;
}

.smi-pay {
    font-family: "Source Serif Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--header-smi-pay-text);
}

.reporting-admin {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    color: var(--header-reporting-admin-text);
}


.header-nav {
    width: 107px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notifications {
    width: 23px;
    height: 27px;
    display: flex;
}

.bell-icon {
    margin-top: 6px;
    flex-shrink: 0;
    fill: var(--header-bell-icon);
    width: 18px;
    height: 23px;
}

.notification-indicator {
    width: 8px;
    height: 8px;
    background: var(--header-notification-indicator);
    border-radius: 50%;
    flex-shrink: 0;
}




@media (max-width: 600px) {
    .header {
        height: 145px;
    }

    .branding {
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
    }

    .site-name {
        margin-left: 0;
    }
}