<!-- Client Section -->
<div class="client-section">
    <div class="section-label">CLIENT</div>
    
    <form-field>
        <dropdown [(ngModel)]="selectedClient">
            @for (client of clients; track client) {
            <dropdown-item [value]="client">{{client}}</dropdown-item>
            }
        </dropdown>
    </form-field>
</div>

<nav>
    <!-- Dashboard -->
    <a routerLink="dashboard" class="nav-item" routerLinkActive="active-link" (dragstart)="$event.preventDefault()">
        <icon class="icon-home" name="home" />
        <div class="nav-text">Dashboard</div>
    </a>


    <!-- Transactions -->
    <a routerLink="transactions" class="nav-item" routerLinkActive="active-link" (dragstart)="$event.preventDefault()">
        <icon class="icon-transactions" name="transactions" />
        <div class="nav-text">Transactions</div>
    </a>


    <!-- Outbound Payments -->
    <a routerLink="outbound-payments" class="nav-item" routerLinkActive="active-link"
        (dragstart)="$event.preventDefault()">
        <icon class="icon-outbound-payments" name="outbound-payments" />
        <div class="nav-text">Outbound Payments</div>
    </a>


    <!-- Balances -->
    <a routerLink="balances" class="nav-item" routerLinkActive="active-link" (dragstart)="$event.preventDefault()">
        <icon class="icon-balances" name="balances"/>
        <div class="nav-text">Balances</div>
    </a>

    <!-- Payors -->
    <a routerLink="payors" class="nav-item" routerLinkActive="active-link" (dragstart)="$event.preventDefault()">
        <icon class="icon-users" name="users" />
        <div class="nav-text">Payors</div>
    </a>


    <!-- Client Settings -->
    <a routerLink="client-settings" class="nav-item" routerLinkActive="active-link"
        (dragstart)="$event.preventDefault()">
        <icon class="icon-settings" name="settings" />
        <div class="nav-text">Client Settings</div>
    </a>
</nav>



<!-- Quick Links Section -->
<div class="section-label">QUICK LINKS</div>


<nav>
    <!-- Over the Threshold -->
    <a routerLink="over-threshold" class="nav-item" routerLinkActive="active-link"
        (dragstart)="$event.preventDefault()">
        <icon class="icon-chart" name="chart" />
        <div class="nav-text">Over the Threshold</div>
    </a>
</nav>



<!-- Admin Section -->
<div class="section-label">ADMIN</div>


<nav>
    <!-- Banners & Alerts -->
    <a routerLink="banners-alerts" class="nav-item" routerLinkActive="active-link"
        (dragstart)="$event.preventDefault()">
        <icon class="icon-megaphone" name="megaphone" />
        <div class="nav-text">Banners & Alerts</div>
    </a>


    <!-- User Management -->
    <a routerLink="user-management" class="nav-item" routerLinkActive="active-link"
        (dragstart)="$event.preventDefault()">
        <icon class="icon-users" name="users" />
        <div class="nav-text">User Management</div>
    </a>
</nav>