:host {
    width: 100%;
    max-width: 240px;
    background: var(--sidebar-background);
    overflow: auto;
    border-right: 1px solid var(--sidebar-border);
    padding: 20px;
    flex-shrink: 0;
}

.client-section {
    margin-bottom: 40px;
}

.section-label {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    color: var(--sidebar-section-label);
    margin-bottom: 10px;
}

nav:not(:last-child) {
    margin-bottom: 80px;
}

.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 44px;
    cursor: pointer;
    fill: var(--sidebar-icon);
    border-radius: 5px;

    &:hover:not(.active-link) {
        background: var(--sidebar-nav-item-hover);
    }
}

.nav-text {
    font-size: 15px;
    text-align: left;
    color: var(--sidebar-nav-item-text);
    margin-left: 10px;
    font-weight: 600;
}

a {
    text-decoration: none;

    &:focus {
        outline: none;

        &:not(.active-link) {
            background-color: var(--sidebar-nav-focused);
        }
    }
}

.active-link {
    background: var(--sidebar-nav-item-selected-background);
    fill: var(--sidebar-nav-item-selected-text);
    cursor: default;

    .nav-text {
        color: var(--sidebar-nav-item-selected-text);
    }
}