form-field {
    height: 34px;
    margin: 10px 0;
    color: var(--filter-selected-text);
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.button-text {
    font-size: 12px;
}

.clear-button {
    color: var(--filter-clear-text);
}

.confirm-button:not(:disabled) {
    color: var(--filter-confirm-text);
}

.label {
    color: var(--filter-label);
    font-size: 14px;
}