<expandable-filter title="Card Last 4" (onExpanded)="input.focus()">
    <div class="label">is equal to</div>

    <form (ngSubmit)="this.setValue(value)">
        <form-field>
            <input #input inputField [(ngModel)]="value" name="cardLast4">
        </form-field>

        <div class="button-container">
            <button type="button" class="button-text clear-button" (click)="clear()">Clear</button>
            <button type="submit" class="button-text confirm-button" [disabled]="!value">Confirm</button>
        </div>
    </form>
</expandable-filter>