.dropdown-item {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    cursor: pointer;
    color: var(--dropdown-text);

    &:hover:not(.selected-dropdown-item) {
        background: var(--dropdown-item-hover);
    }
}

.selected-dropdown-item {
    background: var(--dropdown-item-selected);
    color: var(--dropdown-item-selected-text);
}