<!-- <div class="warn-form-field-error-color"> -->

    <div class="form-field" [tabindex]="!inputField() && !isDisabled()? 0 : -1"
        [ngClass]="{'form-field-selected': selected, 'form-field-disabled': isDisabled(), 'form-field-error': formFieldError()}"
        [style.cursor]="dropdown()? 'pointer': null" (focus)="onFocus()" (click)="onClick(); $event.stopPropagation()"
        (blur)="onBlur()">

        <!-- prefix -->
        @if(prefix()) {
        <ng-content select="[prefix]"></ng-content>
        }


        <!-- Input -->
        @if(inputField()) {
        <ng-content select="[inputField]"></ng-content>
        }


        <!-- Dropdown -->
        @if(dropdown()) {
        <ng-content select="dropdown"></ng-content>
        }


        <!-- Suffix -->
        @if(suffix()) {
        <ng-content select="[suffix]"></ng-content>
        }
    </div>

    <!-- Hint -->
    @if (formFieldHint() && !formFieldError()) {
    <ng-content select="form-field-hint"></ng-content>
    }


    <!-- Error -->
    @if (formFieldError()) {
    <ng-content select="form-field-error"></ng-content>
    }
<!-- </div> -->