:host {
    display: block;
}


.form-field {
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px;
    align-items: center;
    height: inherit;
    outline: none;
    outline: solid;
    outline-width: 1px;
    outline-color: var(--form-field-border);
    border-radius: 5px;
    background: var(--form-field-background);

    &.form-field-selected,
    &:focus {
        outline-width: 2px;
        outline-color: var(--form-field-selected-border);
    }
}







.form-field-disabled {
    pointer-events: none;
    outline-color: var(--form-field-disabled-border);
    
}