<div class="page">
    <page-header>Transactions</page-header>

    <filters-group #filtersGroup style="max-width: 1500px;">
        <date-filter [value]="store.filters.dateFilter()" (onUpdate)="store.updateDateFilter($event)"></date-filter>


        @if (store.cardFilterVisible()) {
        <card-filter [value]="store.filters.cardFilter()" (onUpdate)="store.updateCardFilter($event)"></card-filter>
        }

        <multi-filter [cardFilter]="store.filters.cardFilter()"
            (onCardFilterUpdate)="store.updateCardFilter($event)"></multi-filter>
    </filters-group>



    <data-grid style="max-width: 919px;
    height: 336px;" [columnDefs]="colDefs" [rowData]="rowData">
    </data-grid>
</div>