<filter-popup title="Date of Payment">
    <form-field class="dropdown">
        <dropdown [(ngModel)]="dateRangeOption">
            @for (option of options; track option) {
            <dropdown-item [value]="option.value">{{option.key}}</dropdown-item>
            }
        </dropdown>
    </form-field>

    <div class="date-input-container">
        <form-field class="date-input">
            <input #fromDateInput="datePicker" inputField datePicker [(ngModel)]="fromDate">
            <button class="button-icon" prefix (click)="fromDateInput.toggleCalendar()">
                <icon class="calendar-icon" name="calendar"></icon>
            </button>
        </form-field>

        @if(dateRangeOption === DateRangeOption.DateRange) {
            <span class="and">and</span>

        <form-field class="date-input">
            <input #toDateInput="datePicker" inputField datePicker [(ngModel)]="toDate">
            <button class="button-icon" prefix (click)="toDateInput.toggleCalendar()">
                <icon class="calendar-icon" name="calendar"></icon>
            </button>
        </form-field>
        }
    </div>
    

    <button class="button-apply" [popupClose]="getValues()">Apply</button>
</filter-popup>