.filter-popup {
    background: var(--filter-background);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px #00000020;
    display: inline-block;
    width: 100%;
}

.filter-popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filter-popup-title {
    color: var(--filter-selected-text);
    font-size: 14px;
    font-weight: 500;
}


.close {
    width: 10px;
    height: 10px;
    fill: var(--filter-selected-text);
    cursor: pointer;
}